In [2]:
%load_ext autoreload
%autoreload 2

In [16]:
import pandas as pd
import numpy as np
from pathlib import Path

#Â contains the dera data from https://www.sec.gov/dera/data/financial-statement-data-sets
data_dir = Path("../data/2023q1")
num_df = pd.read_csv(data_dir / "num.txt", sep="\t")
sub_df = pd.read_csv(data_dir / "sub.txt", sep="\t")
pre_df = pd.read_csv(data_dir / "pre.txt", sep="\t")
tag_df = pd.read_csv(data_dir / "tag.txt", sep="\t")

In [5]:
print(num_df.shape)
num_df.columns

(3293693, 9)

Index(['adsh', 'tag', 'version', 'coreg', 'ddate', 'qtrs', 'uom', 'value',
       'footnote'],
      dtype='object')

In [24]:
sub_df.columns

Index(['adsh', 'cik', 'name', 'sic', 'countryba', 'stprba', 'cityba', 'zipba',
       'bas1', 'bas2', 'baph', 'countryma', 'stprma', 'cityma', 'zipma',
       'mas1', 'mas2', 'countryinc', 'stprinc', 'ein', 'former', 'changed',
       'afs', 'wksi', 'fye', 'form', 'period', 'fy', 'fp', 'filed', 'accepted',
       'prevrpt', 'detail', 'instance', 'nciks', 'aciks'],
      dtype='object')

In [25]:
pre_df.columns

Index(['adsh', 'report', 'line', 'stmt', 'inpth', 'rfile', 'tag', 'version',
       'plabel', 'negating'],
      dtype='object')

In [26]:
tag_df.columns

Index(['tag', 'version', 'custom', 'abstract', 'datatype', 'iord', 'crdr',
       'tlabel', 'doc'],
      dtype='object')

In [6]:
num_df.adsh.nunique()

8084

In [7]:
num_df.iloc[0].adsh

'0001193125-23-031180'

In [13]:
example_adsh = "0001193125-23-031180"
sub_df[sub_df.adsh == example_adsh].cik.value_counts()

1070304    1
Name: cik, dtype: int64

In [14]:
cik = "1070304"
sub_df[sub_df.adsh == example_adsh].instance.value_counts()

d307748d6k_htm.xml    1
Name: instance, dtype: int64

In [18]:
# url_base = "http://www.sec.gov/Archives/edgar/data/"
pre_df.head(1)

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
0,0001023459-23-000011,2,10,BS,0,H,AccountsReceivableNetCurrent,us-gaap/2021,"Accounts receivable, net of allowance for doub...",0

In [20]:
sub_df.columns

Index(['adsh', 'cik', 'name', 'sic', 'countryba', 'stprba', 'cityba', 'zipba',
       'bas1', 'bas2', 'baph', 'countryma', 'stprma', 'cityma', 'zipma',
       'mas1', 'mas2', 'countryinc', 'stprinc', 'ein', 'former', 'changed',
       'afs', 'wksi', 'fye', 'form', 'period', 'fy', 'fp', 'filed', 'accepted',
       'prevrpt', 'detail', 'instance', 'nciks', 'aciks'],
      dtype='object')

In [22]:
sub_df.head(1)[["adsh", "name", "cik", "aciks", "instance"]]

,adsh,name,cik,aciks,instance
0,0000004457-23-000026,U-HAUL HOLDING CO /NV/,4457,NaN,uhal-20230323_htm.xml

In [23]:
tmp = "http://www.sec.gov/Archives/edgar/data/4457/000000445723000026/uhal-20230323_htm.xml"
sub_df[sub_df.adsh == "0000004457-23-000026"]

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
0,0000004457-23-000026,4457,U-HAUL HOLDING CO /NV/,7510.0,US,NV,RENO,89511,5555 KIETZKE LANE STE 100,NaN,...,20230331.0,NaN,NaN,20230329,2023-03-29 16:05:00.0,0,0,uhal-20230323_htm.xml,1,NaN

In [27]:
pre_df.iloc[0][["inpth", "rfile"]]

inpth    0
rfile    H
Name: 0, dtype: object

In [28]:
tag_df.iloc[0]

tag                     AccountingStandardsUpdate201613Member
version                                          us-gaap/2021
custom                                                      0
abstract                                                    1
datatype                                               member
iord                                                      NaN
crdr                                                      NaN
tlabel           Accounting Standards Update 2016-13 [Member]
doc         Accounting Standards Update 2016-13 Financial ...
Name: 0, dtype: object

In [31]:
sub_df.instance.value_counts()

form8-k_htm.xml             1183
form10-k_htm.xml             253
form10-q_htm.xml             111
form8k_htm.xml               106
form8-ka_htm.xml              54
                            ...
uone-20230308x8k_htm.xml       1
adap-20230310x8k_htm.xml       1
agx-20230307x8k_htm.xml        1
dlr-20230306x8k_htm.xml        1
rivn-20230103_htm.xml          1
Name: instance, Length: 22888, dtype: int64

Need to create document url correctly. Example - "https://www.sec.gov/Archives/edgar/data/4457/000000445723000026/uhal-20230323.htm" - for the `instance` column, you need to split on `_` and then just do `.htm`